@model PartyProduct_Exercise_03.Models.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container">
    <h2>Change Password</h2>
    <hr /><br />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ChangePassword">
                @if (ViewBag.IsSuccess == true)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Password Changed Successfully.
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" id="oldpwd" class="form-control" onchange="EncCurrentPassword(this)" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" id="newpwd" class="form-control" onchange="EncNewPassword(this)" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword" class="control-label"></label>
                    <input asp-for="ConfirmNewPassword" id="confirmnewpwd" class="form-control" onchange="EncNewConfirmPassword(this)" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <img src="~/images/changepassword.jpg" class="img-fluid" />
        </div>
    </div>
</div>

<script>
    function EncCurrentPassword(a) {
        document.getElementById('oldpwd').value = btoa(a.value);
    }
    function EncNewPassword(a) {
        document.getElementById('newpwd').value = btoa(a.value);
    }
    function EncNewConfirmPassword(a) {
        document.getElementById('confirmnewpwd').value = btoa(a.value);
    }
</script>