@{
    ViewData["Title"] = "Add Party";
}
@model PartyModel
@{
    string action;
}

<div class="text-center">
    @if (ViewBag.partyId == 0)
    {
        action = "PartyAdd";
        <h3 class="h3 font-weight-normal">Party Add</h3>
    }
    else
    {
        action = "PartyEdit";
        <h3 class="h3 font-weight-normal">Party Update</h3>
    }
</div>
<br />

<div class="container">

    @if (ViewBag.IsSuccess == 1)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congratulations</strong> You added new Party <strong>@ViewBag.partyName</strong> successfully.
        </div>
    }
    else if (ViewBag.IsSuccess == 2)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            This <strong>Party</strong> is already Exist.
        </div>
    }

    <form method="post" enctype="multipart/form-data" asp-controller="Party" asp-action="@action">
        <div class="form-group row justify-content-center">
            <label asp-for="PartyName" class="col-sm-2 col-form-label">Party Name :</label>
            @if (ViewBag.partyId == 0)
            {
                <input asp-for="PartyName" class="form-control col-sm-4" autofocus value="" />
            }
            else
            {
                <input asp-for="PartyName" class="form-control col-sm-4" autofocus />
            }
            <span asp-validation-for="PartyName" class="text-danger"></span>
        </div><br />

        <div class="form-group text-center">
            @if (ViewBag.partyId == 0)
            {
                <input type="submit" value="Save" class="btn btnSave" />
            }
            else
            {
                <input type="submit" value="Update" class="btn btnSave" />
            }
            <a asp-controller="Party" asp-action="Party" class="btn btnCancel">Cancel</a>
        </div>
    </form>
</div>