@{ ViewData["Title"] = "Invoice"; }
@model InvoiceModel
@inject PartyProduct_Exercise_03.Repository.IAssignPartyRepository _assignPartyRepository

<div class="text-center">
    <h3 class="h3 font-weight-normal">Invoice</h3>
</div>
<br />

<div class="container">
    @if (ViewBag.IsSuccess == 1)
    {
        <div class="alert alert-success alert-dismissible fade text-center show col-sm-6" role="alert" style="margin:auto">
            <strong>Invoice</strong> added successfully.
        </div><br />
    }

    <form method="post" enctype="multipart/form-data" asp-controller="Invoice" asp-action="Invoice">
        <div class="form-group row justify-content-center">
            <label asp-for="PartyId" class="col-sm-2 col-form-label">Party Name :</label>
            <select id="ddlParty" asp-for="PartyId" class="form-control col-sm-4" asp-items="(await _assignPartyRepository.GetAllAssignPartyDistinct()).Select(x => new SelectListItem() { Value = x.PartyId.ToString(), Text = x.Party.PartyName })" readonly="@(ViewBag.IsDisabled ? true : false)" style="color:@(ViewBag.IsDisabled ? "grey" : "#495057"); cursor:@(ViewBag.IsDisabled ? "not-allowed" : "auto" ); pointer-events: @(ViewBag.IsDisabled ? "none" : "auto")">
                <option value="">Choose Party</option>
            </select>
            <span asp-validation-for="PartyId" class="text-danger"></span>
        </div>

        <div class="form-group row justify-content-center">
            <label asp-for="ProductId" class="col-sm-2 col-form-label">Product Name :</label>
            <select id="ddlProduct" asp-for="ProductId" class="form-control col-sm-4">
                <option value="">Choose Product</option>
            </select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>

        <div class="form-group row justify-content-center">
            <label asp-for="CurrentRate" class="col-sm-2 col-form-label">Rate :</label>
            <input id="txtRate" asp-for="CurrentRate" class="form-control col-sm-4" type="number" value=@ViewBag.rate readonly="readonly" style="color: grey; cursor: not-allowed" />
            <span asp-validation-for="CurrentRate" class="text-danger"></span>
        </div>

        <div class="form-group row justify-content-center">
            <label asp-for="Quantity" class="col-sm-2 col-form-label">Quantity :</label>
            <input asp-for="Quantity" class="form-control col-sm-4" type="number" value="" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div><br />

        <div class="form-group text-center">
            <input type="submit" value="Add Invoice" class="btn btnSave" />
        </div><br />

        @if (ViewBag.display && ViewBag.Invoice != null && ViewBag.Invoice is List<InvoiceModel>)
        {
            <partial name="_invoiceAdd" model="(List<InvoiceModel>) ViewBag.Invoice" />
        }

    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        function PartyId() {
            $.ajax({
                url: "https://localhost:44395/Invoice/Invoice",
                type: 'POST',
                //dataType: 'json',
                data: { PartyId: PartyId },
            })
        }

        $("#ddlParty").change(function () {
            var PartyId = parseInt($(this).val());
            var PartyId = $('#ddlParty option:selected').val();

            if (!isNaN(PartyId)) {
                var ddlProduct = $('#ddlProduct');
                ddlProduct.empty();

                $.ajax({
                    url: 'https://localhost:44395/Invoice/BindProductDetails',
                    type: 'GET',
                    //dataType: 'json',
                    data: { PartyId: PartyId },
                    success: function (d) {
                        ddlProduct.empty();
                        ddlProduct.append($("<option></option>").val('').html('Choose Product'));
                        $.each(d, function (i, product) {
                            ddlProduct.append($("<option></option>").val(product.productId).html(product.productName))
                        });
                    },
                    error: function () {
                        alert('Error 500!');
                    }
                });
            }
        });

        $("#ddlProduct").change(function () {
            var ProductId = parseInt($(this).val());
            var ProductId = $('#ddlProduct option:selected').val();

            if (!isNaN(ProductId)) {
                var rate = $('#txtRate');

                $.ajax({
                    url: 'https://localhost:44395/Invoice/BindRateDetails',
                    type: 'GET',
                    data: { ProductId: ProductId },
                    success: function (d) {
                        rate.val(d);
                    },
                    error: function () {
                        alert('Error 500!');
                    }
                });
            }
        });
    });</script>

@if (ViewBag.display == true)
{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script>
        $("#ddlParty").ready(function () {
            var PartyId = parseInt($(this).val());
            var PartyId = $('#ddlParty option:selected').val();

            if (!isNaN(PartyId)) {
                var ddlProduct = $('#ddlProduct');
                ddlProduct.empty();
                //debugger
                $.ajax({
                    url: 'https://localhost:44395/Invoice/BindProductDetails',
                    type: 'GET',
                    //dataType: 'json',
                    data: { PartyId: PartyId },
                    success: function (d) {
                        ddlProduct.empty();
                        ddlProduct.append($("<option></option>").val('').html('Choose Product'));
                        $.each(d, function (i, product) {
                            ddlProduct.append($("<option></option>").val(product.productId).html(product.productName))
                        });
                    },
                    error: function () {
                        alert('Error 500!');
                    }
                });
            }
        });
    </script>
}
